/* Color variables */
:root {
  /* Primary Color */
  --clr-primary-paleblue: hsl(225, 100%, 94%);
  --clr-primary-brightblue: hsl(245, 75%, 52%);

  /* Neutral Color */
  --clr-neutral-veryPaleBlue: hsl(225, 100%, 98%);
  --clr-neutral-desaturatedBlue: hsl(224, 23%, 55%);
  --clr-neutral-darkBlue: hsl(223, 47%, 23%);

  /* Fonts */
  font-family: 'Red Hat Display', sans-serif;
  --fw-normal: 500;
  --fw-medium: 700;
  --fw-bold: 900;
  --fs-regular: 16px;
}

body {
  background-color: var(--clr-primary-paleblue);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--clr-neutral-darkBlue);
  margin: 0;
}

main {
  background-color: var(--clr-neutral-veryPaleBlue);
  margin: 10% auto;
  width: 450px;
}

.content-container {
  padding: 20px 50px;
}

.header {
  text-align: center;
  margin: 0;
  padding: 0;
}

.header h1 {
  font-weight: var(--fw-bold);
  margin-top: 10px;
}